<div class="item">
  <div class="content">
    <div class="header pretty_username">
      <strong><h4><%= message.user.name%></h4></strong><%= message.message_time %>
    </div>
    <div class="list">
      <div>
        <%= message.body %>
      </div>
    </div>
  </div>
</div>
<br>
