<div class="item">
  <div class="content">
    <div class="header pretty_username"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
    <div class="list">
      <div class="pretty_text">
        <i class="right triangle icon"></i>
        <%= message.body %>
      </div>
    </div>
  </div>
</div> <br> 
