
<div class="container">
<div class="row">
  <% if @gifts == [] %>
  <p>Sorry, no gifts matched your search
  </p>
  <% end %>
  <%@gifts.each do |gift| %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="panel-title"><%= link_to gift.title.capitalize, gift %></h3>
        <br>
        <%= image_tag gift.image, class:"img-responsive"  %>
        <div class="thumbnail">
          <div class="caption">
            <p><%=gift.description%></p>
            <a href=<%="/gifts/#{gift.id}"%> class="btn btn-primary" role="button">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
