<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 726c658a8703567614c98f5175cf934093801f4d

<br><br>
<div class="container">
  <ul class="breadcrumb">
    <li><%= link_to "", gifts_path, class:"icon ion-ios-home-outline" %></li>
    <li><%= link_to "Profile", user_path(current_user) %></li>
  </ul>

<<<<<<< HEAD
>>>>>>> abf4998c79086adbdd84687bce81000d30c9c502
=======

>>>>>>> 726c658a8703567614c98f5175cf934093801f4d
  <h2>Mailbox</h2>
      <div class="ui list">
      <div class="item">
      <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
      <% end %>
      <h4><%= link_to recipient.name,   conversation_messages_path(conversation), style:'color:#00BFFF;'%></h4><br>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
