

<!-- Slideshow -->
<div class="container-fluid nopadding">
  <br> <br>
  <h1>SWPR.</h1><br>
  <h1> Get the gift you really don't want</h1>
  <div class="row">
    <div class="col-sm-12">
      <div id="slideshow" class="owl-carousel" style="opacity: 1;">
        <div><img src="/assets/img/10.png" alt=""></div>
        <div><img src="/assets/img/9.jpg" alt=""></div>
        <div><img src="/assets/img/8.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
<!--/ Slideshow -->


<div class="container showcase">
  <div class="row">
    <%@gifts.each do |gift|%>
    <div id=<%=gift.id%> class="product-grid col-xs-6 col-sm-3 product-grid">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <%= image_tag gift.image, class:"img-responsive"  %>
          </div>
          <figcaption>
            <div class="name">
              <%= link_to  gift.title, gift_path(gift) %>
            </div>
            <div class="price">
              $<%= gift.value %>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <%end%>
  </div>
</div>
