
    <div class="wrapper">
<!-- Slideshow -->
<div class="container-fluid nopadding">
  <div class="row">
    <div class="col-sm-12">
      <div id="slideshow" class="owl-carousel" style="opacity: 1;">
        <div><a href="#"><img src="assets/img/kid3.png" alt=""></a></div>
        <div><a href="#"><img src="assets/img/cat2.jpg" alt=""></a></div>
        <div><a href="#"><img src="assets/img/santa3.jpg" alt=""></a></div>


      </div>
    </div>
  </div>
</div>


<!--/ Slideshow -->


<div class="container showcase">
  <div class="grid">
    <%@gifts.reverse.each do |gift|%>
    <div id=<%=gift.id%> class="product-grid col-xs-6 col-sm-3 grid-item">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <%= image_tag gift.image, class:"img-responsive"  %>
          </div>
          <figcaption>
            <div class="name">
              <%= link_to  gift.title, gift_path(gift) %>
            </div>
            <div class="price">
              $<%= gift.value %>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <%end%>
        <div style="clear:both;"></div>
  </div>
</div>
</div>
