<!-- Slideshow -->
<div class="container-fluid nopadding">
  <div class="row">
    <div class="col-sm-12">
      <div id="slideshow" class="owl-carousel" style="opacity: 1;">
        <div><a href="#"><img src="assets/img/image_holder_1500x698.png" alt=""></a></div>
        <div><a href="#"><img src="assets/img/image_holder_1500x698.png" alt=""></a></div>
        <div><a href="#"><img src="assets/img/image_holder_1500x698.png" alt=""></a></div>
      </div>
    </div>
  </div>
</div>
<!--/ Slideshow -->

<div class="container showcase">
  <div class="row">
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive">
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="row">
        <div class="product-grid col-xs-6 col-sm-12">
          <div class="product-thumb" data-sr>
            <figure>
              <div class="image">
                <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
              </div>
              <figcaption>
                <div class="name">
                  <a href="#">Oversized Shirt</a>
                </div>
                <div class="price">
                  $122.00
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="product-grid col-xs-6 col-sm-12">
          <div class="product-thumb" data-sr>
            <figure>
              <div class="image">
                <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
              </div>
              <figcaption>
                <div class="name">
                  <a href="#">Oversized Shirt</a>
                </div>
                <div class="price">
                  $122.00
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="product-grid col-xs-12 col-sm-9">
      <div class="product-thumb" data-sr>
        <div class="image"><a href="#"><img src="assets/img/image_holder_848x559.png" alt="" class="img-responsive"></a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-grid col-xs-12 col-sm-9">
      <div class="product-thumb" data-sr>
        <div class="image"><a href="#"><img src="assets/img/image_holder_848x559.png" alt="" class="img-responsive"></a></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="row">
        <div class="product-grid col-xs-6 col-sm-12">
          <div class="product-thumb" data-sr>
            <figure>
              <div class="image">
                <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
              </div>
              <figcaption>
                <div class="name">
                  <a href="#">Oversized Shirt</a>
                </div>
                <div class="price">
                  $122.00
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="product-grid col-xs-6 col-sm-12">
          <div class="product-thumb" data-sr>
            <figure>
              <div class="image">
                <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
              </div>
              <figcaption>
                <div class="name">
                  <a href="#">Oversized Shirt</a>
                </div>
                <div class="price">
                  $122.00
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="product-grid col-xs-6 col-sm-3">
      <div class="product-thumb" data-sr>
        <figure>
          <div class="image">
            <a href="#"><img src="assets/img/image_holder_x263.png" alt="" title="" class="img-responsive"></a>
          </div>
          <figcaption>
            <div class="name">
              <a href="#">Oversized Shirt</a>
            </div>
            <div class="price">
              $122.00
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
