<div class="container">
  <ul class="breadcrumb">
    <li><%= link_to "", gifts_path, class:"icon ion-ios-home-outline" %></li>
    <li><%= link_to "Profile", user_path(current_user) %></li>
  </ul>

  <div class="row">
    <h1>Add A Gift</h1>
  </div>

    <%= render 'form' %>
</div>
