<h1 style="color:green;">SWAP PROPOSED!!!!!!!</h1>
<div class="container">
  <div class="col-md-4">
     <h2>GIVE ME THIS <%=@request.wanted_gift.title%> <br></h2>
      <%= image_tag @request.wanted_gift.image, class:"style_image"  %>
  </div>
  <div class="col-md-4">
     <h2>FOR MY <%=@request.unwanted_gift.title%><br></h2>
    <%= image_tag @request.unwanted_gift.image, class:"style_image" %>
  </div>
</div>
