
.hide-me{
  opacity: 0;

}

.btn-sm{
  max-width: 10px;
}

.product-grid{
  min-height: 50px;
  max-height: 400px;

}
.grid-item {
  width: 200px;
}
.center {
  margin: 0 auto;
}

.align-bottom {
  position: absolute;
  bottom: 10px;
}

.top-space{
  margin-top: 20px;
}
.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 10;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}
