
.hide-me{
  opacity: 0;

}

.btn-sm{
  max-width: 10px;
}

.product-grid{
  min-height: 200px;
  max-height: 400px;

}

.center {
  margin: 0 auto;
}

.align-bottom {
  position: absolute;
  bottom: 10px;
}

.top-space{
  margin-top: 20px;
}
.clear {
  clear: both;
}

.panel:hover {
  opacity: .4;
}
